.body{
    margin: 0px;
}
.site-content{
    width: 100%;
    text-align: center;
    background: #1F1F1F url(../images/pattern.png) repeat top left;
    color:#fff;
    font-family: "Pacifico";
    display: inline-block;
    margin: 0px;
}
.site-content h1{
    height: 50px;
}
.gallery{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 72%;
    margin: auto;
}
.thumbnail{
    width: 100%;
    margin: auto;
    display: inline-block;
}
.thumbnail img{
    height: 100px;
    width: 100px;
}

.card-body img{
    display: block;
    margin: auto;
    height: 500px;
    width: 500px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }